@import '../../../base.scss';
.homeSide{
    margin-left: 30px;
    width: 360px;
    padding: 20px 0;
    p{
        margin: 0;
        color: $base-text2
    }
    .suggestion{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color: $base-text;
            text-decoration: none;
        }
    }
    @media screen and (max-width: 1000px) {
        display: none;
    }
}