.block {
    color: #262626;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    max-width: 360px;
    margin: 15px auto;
    padding: 20px 45px;
    text-align: center;
    font-size: 14px;

    .desc {
        color: #8e8e8e;
        font-size: 17px;
        margin-top: -5px;
        margin-bottom: 20px;
    }

    .logo {
        width: 200px;
        margin: 20px;
    }

    span {
        text-decoration: none;
        color: #0095f6;
        font-weight: 600;
        cursor: pointer;
    }

    button {
        background-color: #0095f6;
        border-radius: 4px;
        color: #fff;
        border: none;
        padding: 10px;
        font-weight: 400;
        width: 100%;
        letter-spacing: .5px;
        margin-top: 5px;
        cursor: pointer;
    }

    .inputs {
        display: grid;
        grid-gap: 10px;
        width: 260px;
        .invalid-input{
            background-color: #fee !important;
            color: #f77 !important
        }
    }

    .link2 {
        color: #00376b;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 400;
    }

    .or {
        margin: 10px 0;
        display: flex;
        align-items: center;
        gap: 15px;

        p {
            color: #737373;
            font-weight: 600;
            font-size: 12px;
        }

        span {
            display: block;
            width: 10px;
            border-top: 1px solid #ccc;
            width: 100%;
        }
    }

    input {
        transition: .1s;
        font-size: 12px;
        width: 100%;
        outline: none;
        background-color: #fafafa;
        box-sizing: border-box;
        border: 1px solid #ddd;
        font-weight: 100;
        padding: 12px;
        border-radius: 4px;
        color: #262626
    }

    .error {
        font-weight: 100;
        color: #ed4956
    }

    p {
        margin: 0;
    }
}

.form-container{
    width: 100vw;
    display: grid;
    place-items: center;
}