@import './../../base.scss';

header {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x:visible;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    padding: 10px 15px;
    grid-gap: 15px;
    top: 0;
    z-index: 100;
    color: #262626;

    .label{
        margin: 0;
    }

    .logo {
        padding: 30px 0;
        margin-left: 10px;
    }

    input {
        background-color: #efefef;
        border: 0;
        color: #8e8e8e;
        padding: 10px 15px;
        outline: none;
        border-radius: 10px;
    }

    input::placeholder {
        color: #aaa;
        font-weight: 100;
    }

    .icons {
        grid-gap: 8px;
        align-items: center;
        justify-content: center;
    }

    svg,
    .user-icon {
        margin-right: 20px;
    }

    button,
    a {
        &:hover{
            background-color: #f7f7f7;
        }
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px;
        font-size: 15px;
    }
    .current{
        font-weight: 500;
    }

    .extra_div{
        position: absolute;
        left: 80px;
        top:0;
        height: 100vh;
        background: #fff;
        width: 350px;
        border-radius: 0 15px 15px 0;
        box-shadow: 13px 0px 20px -5px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #efefef;

        h4{
            padding-left: 20px;
            margin-bottom: 0;
        }
    }

}
header[class=without_labels]{
    .icons{
        a, button{
            span{
                display: none;
            }
        }
    }
    .label{
        display: none;
    }
}

.search {
    position: relative;
}


header .user-menu {
    position: relative;
    display: flex;
    align-items: center;
}

header .menu {
    position: absolute;
    right: -10px;
    bottom: 55px;
    background-color: #fff;
    box-shadow: 0 -1px 5px 1px rgb(0 0 0 / 10%);
    font-size: 14px;
    padding: 5px 0;
    z-index: 100;
    a {
        display: flex;
        align-items: center;
        padding: 15px 20px;
    }
}

header a,
header button,
header .user-menu {
    border-radius: 5px;
    padding: 15px ;
    padding-right: 60px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

header .menu a svg {
    width: 15px;
    margin-right: 10px;
}

header .menu a:hover {
    background-color: #f8f8f8
}

header .menu p {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    padding-right: 60px;
    cursor: pointer;
    margin: 0;
}

header .menu::after {
    box-shadow: 2px 2px 5px -1px rgb(0 0 0 / 10%);
    content: "";
    position: absolute;
    left: 24px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(45deg);
    border-bottom-color: #fff;
    bottom: -5px;
}

header .user-icon {
    @extend .image;
    width: 25px;
    height: 25px;
}


.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
}



@media only screen and (max-width: 600px)  {
    header {
        position:fixed;
        height: auto;
        width: 100%;
        font-size: 4px;
        bottom: 0; 
        top:unset;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        .logo{
            display: none;
        }
        .icons{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, auto);
            align-items: center;
            justify-content: space-evenly;
            a, button, .user-menu{
                padding: 15px;
                width: auto;
                transform: scale(1.2)
            }
            svg{
                margin: 0;
                
            }
            span{
                display: none;
            }
            .user-menu p{
                display: none;
            }
            .create, .notifications{
                display: none;
            }
            .user-menu{
                padding: 15px;
                .user-icon{
                    margin: 0;
                }
            }
        }
    }

  
  }