@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
@import './../../base.scss';

.post {
    border-radius: 10px;
    overflow: hidden;
    min-width: 550px;
    width: 100%;
    margin: auto;
    color: #262626;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-bottom: 25px;
    .slider{
        height: 600px;
    }
}

.small-post {
    max-width: 1600px;
    z-index: 550;
    border-radius: 5px;
    overflow: hidden;
    min-width: 550px;
    width: 100%;
    margin: 0 50px;
    color: #262626;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto 350px;

    &>div {
        display: flex;
        flex-direction: column;
    }

    .comments {
        height: -webkit-fill-available;
        max-height: 52vh;
        overflow: auto;
    }
    .slider{
        height: 87vh;
    }
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 12px 5px;

    button {
        background-color: transparent;
        border: none;
        padding: 0 10px;
        cursor: pointer;

        :hover {
            opacity: .7;
        }
    }
}

.text {
    padding: 0 16px;
    font-size: 14px;

    p:first-child {
        margin-top: 0
    }
}

.last_text {
    color: #8e8e8e;

    :last-child {
        font-size: 12px;
        text-transform: capitalize;
    }
}

.images {
    div {
        position: relative;
        width: 100% !important;
    }

    >div>div {
        width: 100% !important;
    }

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #efefef;

    button {
        background-color: transparent;
        border: none;
        font-size: 20px;
        letter-spacing: 3px;
        color: #262626;
        margin-right: 15px;
    }
    .options-button{
        cursor: pointer;
    }

    .user {
        display: flex;
        align-items: center;
        padding: 14px;
        grid-gap: 15px;
        font-weight: 500;
        font-size: 15px;
        a{
            text-decoration: none;
            color: #002486
        }

        .icon {
            @extend .image;
            width: 35px;
            height: 35px;
        }

        p {
            margin: 0;
        }
    }

}

.rsis-container {
    position: relative;
}

.add_comment {
    display: grid;
    grid-template-columns: 50px auto 100px;
    padding: 10px;

    button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;

        :last-child {
            color: #0095f6;
            font-weight: 600;
        }
    }

    input {
        border: none;
        outline: none;
        font-size: 15px;
        padding-left: 10px;
    }
}

.comment {
    display: grid;
    grid-template-columns: max-content auto auto;
    padding: 10px;
    gap: 15px;
    align-items: center;

    button,
    span {
        background-color: transparent;
        color: #818181;
        border: none;
        font-size: 13px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .info {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .comment_like {
        justify-self: end;

        svg {
            width: 60%;
        }
    }

    .comment_info {
        justify-self: start;
    }

    p {
        margin: 5px 0;
    }
}

@keyframes myAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.like-animation {
    animation: myAnimation .25s forwards;
}

@media only screen and (max-width: 600px){
    .post{
        width: 100%;
        border: none;
        min-width: unset;
    }
}


