$base-text: #262626;
$base-text2: #8e8e8e;

p {
    color: $base-text;
}

.image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.small_image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.commonButton {
    padding: 8px 18px;
    border-radius: 10px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.simpleButton {
    background-color: transparent;
    color: #0095f6;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.simpleButton:hover {
    filter: brightness(.7);
}

.loadingBtn {
    opacity: .5;
}

